:root {
  --fc1: #ffffff;
  --fc2: rgb(0, 132, 180);
  --bc-form: rgb(0, 172, 237);
  --bc-main: #eef2f7;

  --ff: "Montserrat", sans-serif;
  --fs: 20px;
}
html,
body {
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 100px;
  background: var(--bc-main);
  color: var(--fc1);
  font-family: var(--ff);
}

.container {
  background-color: var(--bc-form);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

form {
  font-size: var(--fs);
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-group:first-child {
  padding: 20px 0;
}
label {
  padding: 10px 15px;
}
input,
select {
  border-radius: 15px;
  line-height: 30px;
  font-size: 20px;
  padding: 0 10px;
  border-color: transparent;
  outline: none;
}
fieldset {
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 50px;
  width: 130px;
  height: 50px;
  color: var(--bc-form);
  font-weight: 600;
  background-color: var(--fc1);
  line-height: 40px;
  font-size: var(--fs);
  border: none;
  outline: none;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: var(--fc2);
  color: var(--fc1);
}
.input-checkbox,
.input-radio {
  width: 15px;
  height: 15px;
}
#dropdown {
  font-family: var(--ff);
}
span {
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
textarea {
  border-radius: 10px;
  line-height: 20px;
  font-size: var(--fs);
  padding: 10px;
  font-family: var(--ff);
}
